@model IEnumerable<MazadMarket.Models.ProductsType>
@using MazadMarket.Resourses
@{
    ViewBag.Title = @Html.Raw(layout.index);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br />
<div class="container">
    <h2>@Html.Raw(layout.index)</h2>

    <p>
        @Html.ActionLink(layout.createNew, "Create")
    </p>
    @*<div>
        @using (Html.BeginForm("Index", "products", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        <span><b>Search By:</b></span>
                        @Html.RadioButton("SearchBy", "ProductName", true)
                        <text> Product Name </text>
                        @Html.RadioButton("SearchBy", "pric")
                        <text> Price </text>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue", null, new { Class = "Form-control", palceholder = "Enter ProductName or Price " })

                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        }
    </div>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.typeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.typeName)
                </td>

                <td>

                    <img src="~/ProductTypeImage/@item.Picture" style="width:200px; height:200px;" />

                </td>
                <td>
                    @Html.ActionLink(layout.edit, "Edit", new { id = item.Id }) |
                    @Html.ActionLink(layout.details, "Details", new { id = item.Id }) |
                    @Html.ActionLink(layout.delete, "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
